:root {
  /* Global */
  /* Background Gradient Light*/
  --bg-color-gradient-1-light: #FBFDFF;
  --bg-color-gradient-2-light: #F4FAFF;
  /* Background Gradient Dark*/
  --bg-color-gradient-1-dark: #0D1520;
  --bg-color-gradient-2-dark: #111927;
  /* Background Gradient Bordered Box Light*/
  --bg-color-gradient-1-bordered-box-light: #5EB1EF;
  --bg-color-gradient-2-bordered-box-light: #c2e6ff;
  /* Background Gradient Bordered Box Dark*/
  --bg-color-gradient-1-bordered-box-dark: #2870BD;
  --bg-color-gradient-2-bordered-box-dark: #205D9E;
  /* Text Gradient Light */
  --text-color-gradient-1-light: #0D74CE;
  --text-color-gradient-2-light: #70B8FF;
  /* Text Gradient Dark */
  --text-color-gradient-1-dark: #c2e6ff;
  --text-color-gradient-2-dark: #07a3ff;

  /* Background and Text color Primary Light */
  --bg-color-primary-light: #FBFDFF;
  --text-color-primary-light: #0D74CE;
  /* Background and Text color Primary Dark */
  --bg-color-primary-dark: #0D1520;
  --text-color-primary-dark: #70B8FF;

  /* Background and Text color Secondary Light */
  --bg-color-secondary-light: #222;
  --text-color-secondary-light: #113264;
  /* Background and Text color Secondary Dark */
  --bg-color-secondary-dark: #222 ;
  --text-color-secondary-dark: #C2E6FF;

  /* Text-Color Links*/
  /* Hover */
  --text-color-hover-light: #113264;
  --text-color-hover-dark: #c2e6ff;

  /* Active */
  --text-color-active-light: #5EB1EF;
  --text-color-active-dark: #2870BD;

  /* Inactive */
  --text-color-inactive-light: #ccc;
  --text-color-inactive-dark: #2f4d6b;

/* Border and separators */
  --border-color-light: #8EC8F6;
  --border-color-dark: #205D9E;

  --separator-color-light: #ACD8FC;
  --separator-color-dark: #104D87;

  /* Boutons */
  /*Primary Light */
  --btn-bg-color-light-primary: #E6F4FE;
  --btn-bg-hover-color-light-primary: #D5EFFF;
  --btn-text-color-light-primary: #0D74CE;
  /* Primary Dark */
  --btn-bg-color-dark-primary: #0D2847;
  --btn-bg-hover-color-dark-primary: #003362;
  --btn-text-color-dark-primary: #70B8FF;
  /* Secondary Light */
  --btn-bg-color-light-secondary: #fff ;
  --btn-bg-hover-color-light-secondary: #f7f7f7; ;
  --btn-text-color-light-secondary: #222;
  /* Secondary Dark */
  --btn-bg-color-dark-secondary: #333;
  --btn-bg-hover-color-dark-secondary: #3B9EFF;
  --btn-text-color-dark-secondary: #f2f2f2;
  /* Hover background smooth */
  --bg-hover-color-smooth-light: #c2e6ff30;
  --bg-hover-color-smooth-dark: #00336240;
  /*-------------------------------------------*/
  /* semantic color variables for this project */
  /*-------------------------------------------*/

  /* Global */
  --bg-color-gradient-1: var(--bg-color-gradient-1-light);
  --bg-color-gradient-2: var(--bg-color-gradient-2-light);

  --text-color-gradient-1: var(--text-color-gradient-1-light);
  --text-color-gradient-2: var(--text-color-gradient-2-light);

  --bg-gradient-bordered-box-1:var(--bg-color-gradient-1-bordered-box-light);
  --bg-gradient-bordered-box-2:var(--bg-color-gradient-2-bordered-box-light);

  --bg-color-primary: var(--bg-color-primary-light);
  --text-color-primary: var(--text-color-primary-light);

  --bg-color-secondary: var(--bg-color-secondary-light);
  --text-color-secondary: var(--text-color-secondary-light);

  /* Boutons */
  /*Primary Light*/
  --btn-bg-color-primary: var(--btn-bg-color-light-primary) ;
  --btn-bg-hover-color-primary: var(--btn-bg-hover-color-light-primary);
  --btn-text-color-primary: var(--btn-text-color-light-primary);
  /*  Secondary Light */
  --btn-bg-color-secondary: var(--btn-bg-color-light-secondary);
  --btn-bg-hover-color-secondary: var(--btn-bg-hover-color-light-secondary);
  --btn-text-color-secondary:var(--btn-text-color-light-secondary);

  --bg-hover-color-smooth:var(--bg-hover-color-smooth-light);

  /* Border Color */
  --border-color: var(--border-color-light);
  --separator-color: var(--separator-color-light);
  
  /* Text Color Link Light*/
  /* Hover */
  --hover-link-text-color: var(--text-color-hover-light);
  /* Active */
  --active-link-text-color: var(--text-color-active-light);
  /* Inactive */
  --inactive-link-text-color: var(--text-color-inactive-light);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html{
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
b{
  font-weight: bold;
}
body {

  font-size: 1.6rem;
  min-height: 100vh;
  color: var(--text-color-primary-light);
  /* background-color: var(--color-background);
  background-image: url(/src/assets/img/noise-light.png); */
  transition:
          color 0.5s,
          background-color 0.5s;
  line-height: 1.6;
  font-family:
          Quicksand,
          Inter,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Fira Sans',
          'Droid Sans',
          'Helvetica Neue',
          sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Dark theme overrides */
.dark-theme {

  background-color: var(--bg-color-primary-dark);
  color: var(--text-color-primary-dark);
  /* Global */
  --bg-color-gradient-1: var(--bg-color-gradient-1-dark);
  --bg-color-gradient-2: var(--bg-color-gradient-2-dark);

  --bg-gradient-bordered-box-1:var(--bg-color-gradient-1-bordered-box-dark);
  --bg-gradient-bordered-box-2:var(--bg-color-gradient-2-bordered-box-dark);

  --text-color-gradient-1: var(--text-color-gradient-1-dark);
  --text-color-gradient-2: var(--text-color-gradient-2-dark);

  --bg-color-primary: var(--bg-color-primary-dark);
  --text-color-primary: var(--text-color-primary-dark);

  --bg-color-secondary: var(--bg-color-secondary-dark);
  --text-color-secondary: var(--text-color-secondary-dark);
  /*Boutons */
  /*Primary Dark */
  --btn-bg-color-primary: var(--btn-bg-color-dark-primary);
  --btn-bg-hover-color-primary: var(--btn-bg-hover-color-dark-primary);
  --btn-text-color-primary: var(--btn-text-color-dark-primary);
/*  Secondary Dark */
  --btn-bg-color-secondary: var(--btn-bg-color-dark-secondary);
  --btn-bg-hover-color-secondary: var(--btn-bg-hover-color-dark-secondary);
  --btn-text-color-secondary: var(--btn-text-color-dark-secondary);

  --bg-hover-color-smooth:var(--bg-hover-color-smooth-dark);

  /* Border Color */
  --border-color: var(--border-color-dark);
  --separator-color: var(--separator-color-dark);

  /* Text Color Link Dark */
  /* Hover */
  --hover-link-text-color: var(--text-color-hover-dark);
  /* Active */
  --active-link-text-color: var(--text-color-active-dark);
    /* Inactive */
  --inactive-link-text-color: var(--text-color-inactive-dark);
}
