:root {
  /* Global */
  /* Background Gradient Light*/
  --bg-color-gradient-1-light: #6F51EE;
  --bg-color-gradient-2-light: #ffbfbf;
  /* Background Gradient Dark*/
  --bg-color-gradient-1-dark: #151313;
  --bg-color-gradient-2-dark: #ededed;

  /* Background and Text color Primary Light */
  --bg-color-primary-light: #ffffff;
  --text-color-primary-light: #222222;
  /* Background and Text color Primary Dark */
  --bg-color-primary-dark: #121212;
  --text-color-primary-dark: #eaeaea;

  /* Background and Text color Secondary Light */
  --bg-color-secondary-light: #121212;
  --text-color-secondary-light: #ffffff;
  /* Background and Text color Secondary Dark */
  --bg-color-secondary-dark: #121212 ;
  --text-color-secondary-dark: #fff;

  /* Boutons */
  /*Primary Light */
  --btn-bg-color-light-primary: #ff3233;
  --btn-bg-hover-color-light-primary: #f00000;
  --btn-text-color-light-primary: #fff;
  /* Primary Dark */
  --btn-bg-color-dark-primary: #bb2124;
  --btn-bg-hover-color-dark-primary: #a11a1c;
  --btn-text-color-dark-primary: #ffffff;
  /* Secondary Light */
  --btn-bg-color-light-secondary: #fff ;
  --btn-bg-hover-color-light-secondary: #e0dede ;
  --btn-text-color-light-secondary: #222;
  /* Secondary Dark */
  --btn-bg-color-dark-secondary: #333;
  --btn-bg-hover-color-dark-secondary: #444;
  --btn-text-color-dark-secondary: #f2f2f2;
  /*-------------------------------------------*/
  /* Global */
  --bg-color-gradient-1: var(--bg-color-gradient-1-light);
  --bg-color-gradient-2: var(--bg-color-gradient-2-light);

  --bg-color-primary: var(--bg-color-primary-light);
  --text-color-primary: var(--text-color-primary-light);

  --bg-color-secondary: var(--bg-color-secondary-light);
  --text-color-secondary: var(--text-color-secondary-light);

  /* Boutons */
  /*Primary Light*/
  --btn-bg-color-primary: var(--btn-bg-color-light-primary) ;
  --btn-bg-hover-color-primary: var(--btn-bg-hover-color-light-primary);
  --btn-text-color-primary: var(--btn-text-color-light-primary);
  /*  Secondary Light */
  --btn-bg-color-secondary: var(--btn-bg-color-light-secondary);
  --btn-bg-hover-color-secondary: var(--btn-bg-hover-color-light-secondary);
  --btn-text-color-secondary:var(--btn-text-color-light-secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html{
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
b{
  font-weight: bold;
}
body {

  font-size: 1.6rem;
  min-height: 100vh;
  color: var(--text-color-primary-light);
  /* background-color: var(--color-background);
  background-image: url(/src/assets/img/noise-light.png); */
  transition:
          color 0.5s,
          background-color 0.5s;
  line-height: 1.6;
  font-family:
          Quicksand,
          Inter,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Fira Sans',
          'Droid Sans',
          'Helvetica Neue',
          sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Dark theme overrides */
.dark-theme {

  background-color: var(--bg-color-primary-dark);
  color: var(--text-color-primary-dark);
  /* Global */
  --bg-color-gradient-1: var(--bg-color-gradient-1-dark);
  --bg-color-gradient-2: var(--bg-color-gradient-2-dark);

  --bg-color-primary: var(--bg-color-primary-dark);
  --text-color-primary: var(--text-color-primary-dark);

  --bg-color-secondary: var(--bg-color-secondary-dark);
  --text-color-secondary: var(--text-color-secondary-dark);
  /*Boutons */
  /*Primary Dark */
  --btn-bg-color-primary: var(--btn-bg-color-dark-primary);
  --btn-bg-hover-color-primary: var(--btn-bg-hover-color-dark-primary);
  --btn-text-color-primary: var(--btn-text-color-dark-primary);
/*  Secondary Dark */
  --btn-bg-color-secondary: var(--btn-bg-color-dark-secondary);
  --btn-bg-hover-color-secondary: var(--btn-bg-hover-color-dark-secondary);
  --btn-text-color-secondary: var(--btn-text-color-dark-secondary);
}
