@import './base.css';

@keyframes gradient{
  0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}
.background:before {
  background: url(@/assets/img/noise.gif);
  content: "";
  height: 100%;
  width: 100%;
  background-size: 400px 400px;
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.15;
  z-index: -1;
}
.sidebar a, .sidebar a:visited{
  color: var(--text-color-primary-dark);
}

